.diag{
    font-family: Arial, monospace;
    font-weight: bold;
    width: 400px;
    text-align: center;
    background-color: #ffffff;
}

.name{
    font-size: 40px;
    color: #000000;
    display: block;
    text-align: center;
}
.infoStr{
    text-indent: 5px;
    display: inline-flex;
    margin-top: 10px;
    margin-left: 15px;
}
.elem{
    display: inline-block;
    width: 100%;
    height: 50px;
}